.headingBar{
    width: 100%;
    height: 4rem;
    /* border: 2px solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    border-radius: 0.5rem;
    background-color: #ffffff;
}
.propertyNameDiv{
    margin-left: 1rem;
    
    font-weight: bolder;
}
.propertyName{
    font-size: 2.5em;
}
.location{
    
    font-size: smaller;
    margin: 0px;
}
.location i{
    margin-right: 5px;
}
.hidden{
    display: none;
}
@media (max-width: 600px) {
  .propertyName {
    
    font-size: 17px;
  }
}

/* Medium screens (tablet) */
@media (min-width: 601px) and (max-width: 1024px) {
  
}