.imgDiv{
    min-width: 100%;
    height: 300px;
    /* border: 2px solid; */
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
}
.bigImage{
    height: 100%;
    flex:0 0 70%;
    /* border: 1px solid; */
    border-radius: 12px 0px 0px 12px;
}
.smallImages {
    display: flex;
    flex-direction: column; 
    flex: 1;       
       
}

.s-image {
    flex: 1;             /* makes all images take equal vertical space */
    width: 100%;         /* full width */
    object-fit: cover;   /* maintain aspect ratio but fill space */
    /* border: 1px solid; */
     border-radius: 0px 12px 12px 0px;
}
.image{
    background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.loader-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
}

@media (max-width: 600px) {
  .bigImage {
    flex: 1;
  }
  .smallImages{
     display: none
  }
}
